# This file contains settings used by all shell scripts in this folder.
# Copy this sample file to script_config.sh and edit the user settings to match your machine.
#
# Copyright (c) 2014 Eliot Lash.
# This software is available for use under an MIT-style license, see LICENSE.txt for full details.

### User settings ###
#Path from this script to wordpress root (containing wp-config.php, etc.) - should work as absolute or relative
SCFG_PATH_TO_WP_ROOT="/PATH/TO/wordpress"

#Absolute to backups folder
SCFG_PATH_TO_BACKUPS="${HOME}backup"

#Filename prefix for sql dump gzip files
SCFG_DB_BACKUP_FILENAME_PREFIX="mainsite.sql."

#Which remote to fetch new versions of wordpress from? This will be 'origin' if you cloned directly from their git repo.
SCFG_REMOTE_NAME="origin"

#Prefix for git branches. The wordpress version will be appended to it. This could be empty, but it may cause confusion as then the branch's shortname would be the same as the name of the official wordpress tag. 
SCFG_BRANCH_PREFIX="mainsite/"

#Chown user:group specifier string, will be applied as the owner of SCFG_CHOWN_DIR after upgrading
SCFG_CHOWN_OWNER=":web"

#SCFG_CHOWN_OWNER will be granted ownership of these files after upgrading
SCFG_CHOWN_DIR="wp-content/uploads/"


### Global script defaults ###
set -o nounset #disallow unset vars
set -o errexit #strict error checking
set -o pipefail #commands in pipes can cause fatal errors
